html {
    background-color: #09090B;
    color: #FAFAFA;
}

h1 {
    font-size: 32px;
    font-weight: bolder;
}

span {
    color: #F4F4F5;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -2%;
}

time {
    color: #A1A1AA;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -2%;
}